asgiref==3.5.2
Django==3.2
django-environ==0.9.0
django-extensions==3.2.1
psycopg2==2.9.5
pytz==2022.2.1
sqlparse==0.4.3
Pillow==9.3.0

#penpyxl==3.0.10
#pandas==1.5.2
# necesarios para correr  python manage.py runscript prueba , carga autos de xls

# ejecutar: pip install -r requirements.txt  dentro del ambiente virtual
