{% extends "base.html" %}
{% load static %}
{% block contenido %}

<div class="container-fluid   ">
 
    
    <div class="mt-4 p-5 bg-success text-white  ">
      <h1>Contacto</h1> 
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat..</p> 
    
  </div>
  

  
  <img class="bg-img img-fluid  opacity-50  "  src="{% static '/img/auto.jpg'%}" alt="">
  
</div>

{% endblock contenido %}
